*
{
    font-family: 'Arial';
    color: #402121;
}

.has-underlined-nav-item{
    height: 40px;
    margin: auto;
    padding-bottom: 8px;
    border-bottom: 5px solid black;
    border-color:#F4D9B4 ;
}

.navbar-end .navbar-item.is-tab{
    border-bottom: 5px solid #F4D9B4 !important;
    min-height: 2.25rem !important;
    padding-bottom: calc(0.5rem - 1px) !important;
}

.navbar-end .navbar-item.is-tab:hover{
    border-bottom: 7px solid #E56B06 !important;
    min-height: 2rem !important;

    color: #E56B06;
}

.has-background-beige
{
    background-color: #FFFDFB;
}

#img {
    width: 50%;
 }
img.overlay {
    position: absolute;
    right: 0px;
}
 #img1 {
    width: 29vw;
    bottom: 23vw;
    z-index: 10;

 }
 #img2 {
    width: 50vw;
    bottom: 0;
 }

 .is-absolute
 {
     position: absolute;
 }


            /* *************** */
                /* PAGE 2   */
                /* ************** */


.has-background-clay
{
    background: #FFFBF6 ;

}

.has-background-light-brown
{
    background: #F4D9B4;
}

 .separator 
 {  
     height: 9px;
     width: 58px;
     border-radius: 5px;
    
 }

 .separator.is-centered
 {
     margin:auto;
 }
 
.separator.is-relative
{
    bottom: 0;
}
.arbreLeft
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.arbreOmbre
{
    position: absolute;
    bottom: 0;
    right: 2vw;
    z-index: 1;
    right: 0px;
    width: 20%;
}





            /* *************** */
                /* PAGE 3   */
                /* ************** */





.numbersteps
{
    width: 25%;
    margin-right: 15px;
    font-size: 80px;
    color: #F4D9B4;
    text-align: left;
    line-height: 0.8em;

}

.steps th
{
    width: 25%;
}

.steps tbody td 
{
    font: normal normal 24px/36px Arial;

}

.steps tfoot td 
{
    text-align: left;
    font: normal normal normal 18px/27px Arial;
    color: #402121;

}

.steps td,th
{
    padding: 0em;
}

.rules
{
    background: #402121 0% 0% no-repeat padding-box;
    width: 12vw;
    border-radius: 4px;
}

.rules thead th
{
    width: 25%;
}
.rulesTable
{
    background: #402121 0% 0% no-repeat padding-box;
    color: #FCF5EB;
    border-radius: 4px;
    height: 416px;
    height: 30vh;
    width: 60vw;
    margin-left: 10vw;
    flex-grow: 1;
    text-align: left;
}

.rulesTable .img
{
    margin-top: 3vw;
}

.rulesTable .titres
{
    font: normal normal bold 24px/36px Arial;
}

.rulesTable td
{
    font: normal normal normal 18px/27px Arial;   
}


.is-underlined
{
    text-decoration: underline;
}

.has-background-semi-dark
{
    background-color: #2D2208;
}

.has-text-beige.is-underlined
{
    color: #FFFBF6;
    text-decoration: underline;

}

.has-text-beige 
{
    color: #FFFBF6;
}

.separator.is-slim
{
    height:5px ;
}

.is-flipped-vertically
{
    transform: scaleX(-1);
}

.has-background-dark-beige
{
    background-color: #FCF5EB;
}

.is-orange
{
    color: #E56B06;
}


.timeline.fresque-timeline .timeline-item .timeline-marker.is-image {
    background:none; 
    border: none; 
    overflow: visible; 
}

.has-text-beige
{
    color: #FFFBF6;
}

.subtitle.has-text-beige
{
    color: #FFFBF6;
}

.title.has-text-beige
{
    color: #FFFBF6 !important;

}



.has-background-dark-beige
{
    background-color: #FCF5EB !important; 
}

.has-no-border-radius
{
    border-radius: 0px;
}

.has-background-light-brown
{
    background-color: #402121;
}

.has-text-light-beige
{
    color: #FFFDFB !important;
}

.rectangle
{
    width: 180px;
    height: 160px;
    background-color: #F4D9B4;
}

.large-rectangle{
    width: 360px;
    height: 160px;
    background-color: #F4D9B4;
}

.has-background-strong-beige
{
    background-color: #F4D9B4 !important;
}

.has-4px-height
{
    height: 4px;
}

.has-text-classic-dark
{
    color: #402121 !important;
}

.is-orange:hover{
    color: #E56B06 !important;
    font-size: 1.1em;
    font-weight: bold;
}

.has-hovering:hover{
    font-size: 1.1em;
    font-weight: bold;
}

.has-text-beige.has-hovering:hover{
    color: #FFFBF6;
}


@media (max-width: 768px) {
    
    .is-flex-direction-column-mobile
    {
        flex-direction: column;
    }

    .has-max-width 
    {
        max-width: 300px;
    }

    .mx-mobile
    {
        margin-right:1.5rem;
        margin-left: 1.5rem;
    }

    .my-mobile
    {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .mt-mobile
    {
        margin-top: 1.5rem;
    }

    .mb-mobile
    {
        margin-bottom: 1.5rem;
    }

}

@media (max-width: 1023px) {
    .navbar-end .navbar-item.is-tab{
    border-bottom: 0 !important;
    }
}
